.product-page-wrapper {
    display: flex;
    padding: 72px 20px;
    justify-content: center;

}


.product-gallery img {
    width: 79px;
    height: 80px;
    object-fit: contain;
    cursor: pointer;
}

.product-gallery {
    gap: 20px;
    display: flex;
    flex-direction: column;
    max-height: 511px;
    overflow-y: auto;
    min-width: 88px;
}

.product-img img {
    height: 511px;
    width: 610px;
    object-fit: contain;
    margin-right: 100px;
    margin-left: 40px;

}


.product-description-brand {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #1D1F22;
    margin-bottom: 16px;
}

.product-description-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #1D1F22;
    margin-top: 0;
}

.attribute {
    border: 1px solid #1D1F22;
    padding: 13px 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    transition: all 150ms ease-in;
    cursor: pointer;
}

.attribute-selected {
    color: #FFFFFF;
    background-color: #1D1F22;
}

.attributes-wrapper>div {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.attributes-wrapper {
    margin-bottom: 24px;
}
.attributes-wrapper-disabled {
    pointer-events: none;
}

.cart-wrapper .attributes-wrapper{
    pointer-events: none;
}


.attribute-name {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 18px;
    color: #1D1F22;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
}


.color {
    height: 32px;
    width: 32px;
    position: relative;
    cursor: pointer;
}

.color-selected::after {
    content: "";
    background-color: transparent;
    height: 36px;
    width: 36px;
    border: 1px solid #5ECE7B;
    position: absolute;
    top: -3px;
    left: -3px;
}

.btn-green {
    height: 52px;
    width: 292px;
    background: #5ECE7B;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.btn-green:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.product-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1D1F22;
    margin-top: 40px;
}

.product-price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #1D1F22;
}

.product-description-wrapper{
    max-width:30%;
}