.cart-wrapper h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: #1D1F22;
}

.cart-wrapper>h3 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.cart-wrapper {
    padding: 80px 100px;
}

.cart-item {
    border-top: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}


.cart-item .cart-item-quantity {
    margin-left: auto;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.product-description-img img {
    width: 200px;
    height: 288px;
    object-fit: contain;
}

.product-description-img {
    position: relative;
}

.order-price {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 32px 0 16px 0;

}

.order-price div {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1D1F22;
    display: flex;
}

.order-price span {
    width: 110px;
    display: block;
}

.order-price .order-price-total {
    font-weight: 500;

}

.product-img-arrow {
    cursor: pointer;
}

.product-img-arrow-next {
    transform: rotate(180deg);
}

.product-img-arrows {
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}