.store-category {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 42px;
    color: #1D1F22;
    padding-bottom: 100px;
}

.store {
    padding: 80px 100px
}

.store-item {
    position: relative;
    padding: 25px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.store-item:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.store-item:hover .store-item-cart {
    visibility: visible;
    opacity: 1;
}

.store-item-image {
    height: 338px;
    width: 354px;
    object-fit: contain;
    margin-bottom: 24px;
    place-self: center;

}

.store-item-title, .store-item-brand {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 18px;
    color: #1D1F22;
    margin: 0;
    line-height: 160%;
}

.store-item-price{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #1D1F22;
    line-height: 160%;
    margin: 0;
}

.store-items {
    justify-content: center;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(400px,30%));
}

.store-items a{
    text-decoration: none;
}
.store-items > div{
    flex: 25% 1;
}

.store-item-cart {
    position: absolute;
    right: 31px;
    bottom: 118px;
    border-radius: 50%;
    background-color: #5ECE7B;
    height: 52px;
    width: 52px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-in-out;

}

.store-item-cart path {
    fill: #fff;
}

.store-item-unavailable img p {
    opacity: 0.5;
}

.store-item-unavailable {
    position: relative;
}

.store-item-unavailable .store-item-cart{
    display: none;
}

.store-item-unavailable .store-item {
    opacity: 0.6;

}

.store-item-unavailable::before {
    content: "OUT OF STOCK";
    position: absolute;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #8D8F9A;
    z-index: 40;
    pointer-events: none;
    position: absolute;
    top: 40%; 
    right: 50%;
    transform: translate(50%,-50%);
}