.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    width: 242px;
    justify-content: space-between;
}

.header-nav-item {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    color: #1D1F22;
    cursor: pointer;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.header-nav-item:hover {
    color: #5ECE7B;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    border-bottom: 2px solid #5ECE7B;
}

.header-nav-item-selected {
    color: #5ECE7B;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    border-bottom: 2px solid #5ECE7B;
}

.header-right {
    display: flex;
    gap: 25px;
}

.header-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Raleway';
    font-size: 18px;
    color: #1D1F22;
    font-weight: 500;

}