.close-cart {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 10;
}

.stop-scrolling {
    overflow: hidden;
    padding-right: 8px;
}

.mini-cart {
    position: absolute;
    width: 340px;
    background-color: #fff;
    max-height: 700px;
    min-height: 300px;
    z-index: 44;
    right: 72px;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    top: 80px;
    padding-right: 8px
}

.mini-cart-display-none {
    display: none;
}

.cart-item-increment-decrement {
    border: 1px solid #1D1F22;
    height: 24px;
    width: 24px;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;

}

.cart-item-quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.cart-item-available-sizes {
    display: flex;
}

.cart-item-size {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #1D1F22;
    color: #1D1F22;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-size-selected {
    background: #1D1F22;
    color: #fff;
}

.cart-item-available-colors {
    display: flex;

    gap: 8px;

}

.cart-item-color {
    background-color: red;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.cart-item-color-selected {
    position: relative;
}

.cart-item-color-selected:after {
    content: "";
    border: 1px solid #5ECE7B;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -2px;
    left: -2px;

}

.mini-cart-item-wrapper {
    display: flex;
    margin: 40px 0;
    justify-content: space-between;
    margin-top: 20px;
}

.mini-cart-item-image {
    width: 121px;
    height: 100%;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}

.mini-cart-left {
    display: flex;
    width: 187px;
}

.mini-cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 153px;
    pointer-events: none;
}

.mini-cart-icon {
    cursor: pointer;
    position: relative;
}

.cart-icon-item-count {
    position: absolute;
    top: -15px;
    right: -13px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    padding: 3px;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}


.mini-cart .attribute-name {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
}

.mini-cart .product-price {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.mini-cart .attribute {
    padding: 3px;
}

.mini-cart .color {
    height: 14px;
    width: 14px;
}

.mini-cart .color-selected::after {
    height: 18px;
    width: 18px;
}

.mini-cart .cart-item-quantity {
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.mini-cart .cart-item-price {
    margin: 8px 0;
}


.mini-cart-footer-total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
}


.btn-white {
    padding: 5px 35px;
    border: 1px solid black;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background-color: #fff;
    height: 45px;
    cursor: pointer;
}

.mini-cart-footer-button {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.mini-cart-footer-button .mini-cart-checkout {
    padding: 5px 35px;
    font-size: 14px;
    width: auto;
    height: 45px;

}

.mini-cart>h3 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}