.currency-dropdown {
    position: relative;
    cursor: pointer;
}

.test {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
}

.currency-dropdown-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 114px;
    color: #1D1F22;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0px 4px 35px rgb(168 172 176 / 19%);
    z-index: 44;
    transition: all 200ms ease-in-out;
    left: -17px;
    visibility: hidden;
    opacity: 0;
    top: 35px;
}

.currency-dropdown-options-open {
    visibility: visible;
    opacity: 1 !important;
    z-index: 60;
}

.currency-dropdown-option {
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    padding-left: 25px;
}

.currency-dropdown-option:hover {
    background: #EEEEEE;

}

.currency-dropdown-option-selected {
    background: #EEEEEE;

}

.currency-dropdown-icon-open {
    transform: rotate(180deg);
}